.section-gallery {
    background: $dark-grey;
    display: flex;
    justify-content: center;
    overflow: auto;
    height: 100%;
    width: 60%;

    .section-gallery-content {
        width: 85%;
        height: auto;
        margin: auto;
        padding: 50px 0;

        .section-gallery-header {
            text-transform: uppercase;
            font-size: 0.875rem;
            letter-spacing: 2.5px;
            font-weight: 600;
            color: $cream;
            text-decoration: none;
        }

        #about-me, #my-work, #about-text {
            margin-bottom: 20px;
        }

        #projects {
            margin-top: 20px;
        }

        .section-gallery-text {
            font-size: 15px;
            letter-spacing: 1.5px;
            line-height: 24px;
            color: $light-grey;
        }

        .section-gallery-showcase:nth-child(5), :nth-child(7) {
            margin-top: 20px !important;
        }

        .section-gallery-showcase {
            display: flex;
            width: 100%;
            height: 160px;
            margin-top: 40px;

            .section-gallery-showcase-image {
                width: 210px;
                margin-right: 10px;

                img {
                    border-radius: 15px;
                    max-height: 100%;
                    max-width: 100%;
                }
            }

            .section-gallery-showcase-info {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 100%;
                width: 65%;

                .link {
                    display: inline;
                    margin-right: 15px;

                    #arrow-icon {
                        position: relative;
                        top: 3px;
                        height: 18px;
                    }
                }
            }
        }
        .footer {
            margin-top: 40px;

            h4 {
                text-align: center;
                color: $cream;
            }
        }
    }
}

@media (max-width: 1160px) {
    .section-gallery {
        width: 100%;
        
        .section-gallery-content {
            #my-work {
                margin-top: 40px;
            }

            .section-gallery-showcase {
                height: auto;
                flex-direction: column;

                .section-gallery-showcase-image {
                    width: 100%;
                }

                .section-gallery-showcase-info {
                    width: 100%;
                    margin-top: 10px;

                    .section-gallery-text {
                        margin: 10px 0;
                    }
                }
            }
        }
    }
} 