@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;600&display=swap');
@import 'colors';
@import 'section-intro';
@import 'section-gallery';

// Core Styles
:root {
    font-size: 16px;
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    font-family: 'Jost', 'Arial';
}

.container {
    display: flex;
    width: 100%;
}

// Media Queries
@media (max-width: 1160px) {
    .container {
        flex-direction: column;
    }
}

@media (min-width: 1160px) {
    .container {
        height: 100vh;
    }
}